
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Avatar Image Size
.avatar {
    
    height: 10rem;
    width: 10rem;

}

.sm-avatar {
    
    height: 2rem;
    width: 2rem;

}